.hg
Release
*.cache
Debug
*.dll
__history
*.pdb
InstagramSaver.Parser
*.local
/FileChecker.dproj
/FileChecker.identcache
/FileChecker.mes
/FileChecker.res
/FileChecker.stat
/ImageLinkExtractor.dpr
/ImageLinkExtractor.dproj
/ImageLinkExtractor.identcache
/ImageLinkExtractor.res
/InstagramSaver.identcache
/InstagramSaver.mes
/InstagramSaver.stat
